.choice {
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}
h1{
    font-family: 'New Rocker', cursive;
}

p{
    font-family: 'Cinzel', serif;
    font-size: 20px;
}